.main-container__navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: black;
  width: 100vw;
  position: fixed;
  z-index: 100;
}

.main-container__navbar a {
  text-decoration: none;
}

#navbar-link__left {
  flex: 1;
  font-size: 30px;
  font-weight: bold;
  padding-left: 5rem;
}

#title {
  color: #FCEAEC;
}

#inner-title {
  color: #E42E41;
}

.navbar-link__middle {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  list-style: none;
  margin-right: 15rem;
}

.navbar-link__middle .middle-body {
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 20px;
  font-weight: 500;
}

/* .middle-body a { */
/*   color: #FCEAEC; */
/*   position: relative; */
/* } */

/* .middle-body a::after { */
/*   content: ''; */
/*   position: absolute; */
/*   width: 100%; */
/*   height: 2px; */
/*   bottom: -2px; */
/*   left: 0; */
/*   background-color: #E42E41; */
/*   transform-origin: left; */
/*   transform: scaleX(0); */
/*   transition: transform 0.3s ease-out; */
/* } */

/* .middle-body a:hover::after { */
/*   transform: scaleX(1); */
/* } */

@media (max-width: 75rem) {
  .navbar-link__left {
    margin-right: 7rem;
  }

  .navbar-link__middle {
    margin-right: 5rem;
    margin-top: -0.80rem;
  }

  .navbar-link__right {
    margin-left: 2rem;
    margin-top: 10px;
    margin-bottom: 1rem;
  }

  .main-container__navbar {
    flex-direction: column;
  }
}
