.main-container {
  position: absolute;
  top: 10%;
  display: flex;
  width: 100%;
  flex-direction: column;
  background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.main-container__exercises {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  row-gap: 10px;
}

.main-container__title {
  font-size: 30px;
  font-weight: 600;
  color: #FCEAEC;
  display: flex;
  flex-direction: column;
  line-height: 1.5px;
  margin: 4rem 0 15rem 2rem;
}

.main-container__utils {
  display: flex;
  flex-direction: row;
}

.main-container__utils input {
  width: 30%;
  padding: 1rem;
  margin: 2rem;
  color: black;
  font-size: 15px;
  border-radius: 8px;
  background: #FCEAEC;
}

.main-container__utils button {
  width: 12%;
  height: 10%;
  justify-content: center;
  margin-top: 1.9rem;
}

#title-count span {
  color: #E42E41;
}

@media (max-width: 75rem) {
  .main-container__exercises {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
  }
}

@media (max-width: 60rem) {
  .main-container__exercises {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
  }

  .main-container__utils {
    flex-direction: column;
  }

  .main-container__utils input {
    width: 60%;
  }

  .main-container__utils button {
    margin: 0;
    margin-left: 1.9rem;
    width: 40%;
  }
}

@media (max-width: 40rem) {
  .main-container__exercises {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 10px;
  }
}
