.main-container {
  display: block;
  position: absolute;
  background-image: url('../../assets/images/home-page-background.jpg');
  background-size: cover;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.main-description-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #FCEAEC;
  margin-left: 5rem;
  margin-top: 5rem;
}

.main-description-container__title {
  font-size: 60px;
  font-weight: bold;
  line-height: 1.5rem;
  margin-top: 10rem;
  z-index: 1;
}

.main-description-container__title span {
  color: #E42E41;
}

.main-description-container__description {
  line-height: 5px;
  font-size: 20px;
  z-index: 1;
}

.main-description-container__btn {
  font-size: 20px;
  margin-top: 2rem;
  z-index: 1;
}

@media (max-width: 75rem) {
  .main-description-container__title {
    line-height: 4rem;
  }

  .main-description-container__description {
    line-height: 1.3rem;
  }
}
