.base-btn {
  display: flex;
  justify-content: flex-end;
  margin-right: 5rem;
  padding: 1rem 3.2rem;
  font-size: 1.125rem;
  font-weight: bold;
  background-color: #E42E41;
  border: none;
  color: #FCEAEC;
  border-radius: 16px;
}

.base-btn:hover,
.base-btn:active {
  background-color: #FCEAEC;
  color: #E42E41;
  transition: 0.2s ease-out;
  cursor: pointer;
}

.google-btn {
  display: flex;
  justify-content: flex-end;
  margin-right: 5rem;
  padding: 1rem 3.2rem;
  font-size: 1.125rem;
  font-weight: bold;
  color: #FCEAEC;
  border: 2px solid #FCEAEC;
  background: transparent;
  border-radius: 16px;
}

.google-btn:hover,
.google-btn:active {
  background-color: #FCEAEC;
  color: #E42E41;
  transition: 0.2s ease-out;
  cursor: pointer;
}
