.main-container__form button {
  width: 35%;
  margin-top: 1rem;
  justify-content: center;
  border-radius: 12px;
  margin-bottom: 3rem;
}

.main-container__form span {
  font-weight: bold;
  font-size: 25px;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

#text-input {
  width: 94%;
  margin: 0;
  border: none;
  font-size: 20px;
  border: 2px solid #E42E41;
}

#text-input:hover {
  border: 3px solid #E42E41;
}

#text-input::placeholder {
  font-size: 18px;
}

.main-container__form select {
  width: 98%;
  margin-left: 10px;
  padding: 1rem;
  padding-left: 2rem;
  border-radius: 10px;
  background: #FCEAEC;
  border: 2px solid #E42E41;
  font-size: 20px;
  font-weight: bold;
}

.main-container__form select:active,
.main-container__form select:hover {
  border: 3px solid #E42E41;
}

.main-container__form {
  display: flex;
  flex-direction: column;
  width: 70%;
  position: relative;
  margin-top: 10rem;
  left: 10%;
}

.main-container {
  position: absolute;
  top: 10%;
  display: flex;
  flex-direction: column;
  width: 100%;
  background: -webkit-linear-gradient(to right, #A43931, #1D4350);
  background: linear-gradient(to right, #A43931, #1D4350);
  background-size: cover;
};
